@mixin fontsWoff2($folder, $fullName, $weight, $style: normal) {
  @font-face {
    src: url('../fonts/#{$folder}/#{$fullName}.woff2') format('woff2');
    font-family: $folder;
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}
