section.say
  .container.say__container
    .say__gallery
      include ../gallery/gallery
    .say__content
      .section-head.section-head--leveling-left.say__head
        h2.section-head__title What the say
        span.section-head__caption What Our Customers Say About Us

      .say__slider
        include ../slider/slider


