.section-head {
  text-align: center;

  &--leveling-left {
    text-align: left;
  }

  &__title {
    margin-bottom: 7px;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.3;
    color: var(--color-accent);
  }

  &__caption {
    margin-bottom: 26px;
    font-weight: 700;
    font-size: 32px;
  }

  &__description {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 22px;
    color: var(--tc-secondary);
  }
}
