.star-rating {
  display: flex;
  gap: 4px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
  }

  &__icon {
    fill: #ffcb45;
  }
}
