.gallery
  picture.gallery__image.gallery__image--big
    source(srcset="images/gallery/1.avif 1x, images/gallery/1@2x.avif 2x" type="image/avif")
    source(srcset="images/gallery/1.webp 1x, images/gallery/1@2x.webp 2x" type="image/webp")
    img(src="images/gallery/1.jpg" srcset="images/gallery/1@2x.jpg 2x" alt="dish")
  picture.gallery__image
    source(srcset="images/gallery/2.avif 1x, images/gallery/2@2x.avif 2x" type="image/avif")
    source(srcset="images/gallery/2.webp 1x, images/gallery/2@2x.webp 2x" type="image/webp")
    img(src="images/gallery/2.jpg" srcset="images/gallery/2@2x.jpg 2x" alt="dish")
  picture.gallery__image
    source(srcset="images/gallery/3.avif 1x, images/gallery/3@2x.avif 2x" type="image/avif")
    source(srcset="images/gallery/3.webp 1x, images/gallery/3@2x.webp 2x" type="image/webp")
    img(src="images/gallery/3.jpg" srcset="images/gallery/3@2x.jpg 2x" alt="dish")
