nav.site-navigation(aria-label="Pages navigation")
  ul.site-navigation__list
    li.site-navigation__item
      a.site-navigation__link.site-navigation__link--current(href="/" aria-current="page") Home
    li.site-navigation__item
      a.site-navigation__link(href="#!") Menu
    li.site-navigation__item
      a.site-navigation__link(href="#!") How it works
    li.site-navigation__item
      a.site-navigation__link(href="#!") About
    li.site-navigation__item
      a.site-navigation__link(href="#!") Contacts
