.footer-group {
  display: inline-flex;
  column-gap: 40px;
  justify-content: space-between;
  width: 100%;
  max-width: 672px;

  &__col {
    position: relative;
    z-index: 5;

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      border-radius: 50%;
      background-color: #ffac4b;
    }

    &:nth-child(1)::before {
      left: -22px;
      top: -14px;
      width: 38px;
      height: 38px;
    }

    &:nth-child(2)::before {
      left: -38px;
      top: initial;
      bottom: -38px;
      width: 66px;
      height: 66px;
    }

    &:nth-child(3)::before {
      left: initial;
      right: -13px;
      top: -53px;
      width: 99px;
      height: 99px;
    }
  }

  &__title {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__link {
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    color: var(--tc-secondary);
  }
}
