.footer-group
  .footer-group__col
    .footer-group__title Company
    ul.footer-group__list
      li.footer-group__item
        a.footer-group__link(href="#!") About Us
      li.footer-group__item
        a.footer-group__link(href="#!") Career
      li.footer-group__item
        a.footer-group__link(href="#!") How It Work
  .footer-group__col
    .footer-group__title Policy
    ul.footer-group__list
      li.footer-group__item
        a.footer-group__link(href="#!") FAQ
      li.footer-group__item
        a.footer-group__link(href="#!") Privacy
      li.footer-group__item
        a.footer-group__link(href="#!") Shipping
  .footer-group__col
    .footer-group__title Get In Touch
    ul.footer-group__list
      li.footer-group__item
        a.footer-group__link(href="tel:+6289673112766") +62 896 7311 2766
      li.footer-group__item
        a.footer-group__link(href="mailto:food@example.com") food@example.com
