footer.footer
  .container
    .footer__top
      .footer__info
        .footer__logo
          include ../logo/logo
        p.footer__address Jalan Semangka Raya, Telaga Murni, Cikarang Barat, Kab. Bekasi
        .footer__socials
          include ../social/social
      include ./footer-group

    .footer__bottom
      p.footer__copy © 2022 Let’sFood. ALL RIGHT RESERVED.
