section.how-work
  .container
    .how-work__head
      +sectionHead(
        "How it works",
        "What We Serve",
        "Product Quality Is Our Priority, And Always Guarantees Halal And Safety Until It Is In Your Hands.",
      )

    //- TODO: сделать универсальным (features-grid)
    ul.how-work__list
      li.how-work__item.how-work__item--order
        h3.how-work__subtitle Easy To Order
        p.how-work__description You only order through the app
      li.how-work__item.how-work__item--delivery
        h3.how-work__subtitle Fastest Delivery
        p.how-work__description Delivery will be on time
      li.how-work__item.how-work__item--quality
        h3.how-work__subtitle Best Quality
        p.how-work__description The best quality of food for you
