-
  var menu = [
    {
      name: "Mie Ramen",
      description: "lorem ipsum",
      price: 20.2,
      image: "mie-ramen"
    },
    {
      name: "Salad Tahu",
      description: "lorem ipsum",
      price: 20.2,
      image: "salad-tahu"
    },
    {
      name: "Roti Bakar",
      description: "lorem ipsum",
      price: 20.2,
      image: "roti-bakar"
    },
    {
      name: "Spaghetti",
      description: "lorem ipsum",
      price: 20.2,
      image: "spaghetti"
    }
  ]
